In [18]:
!pip install requests mysql-connector-python pandas

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 49.8 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.6.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

**Adding revies to reviews table**

In [ ]:
import pandas as pd
import mysql.connector

# Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/Apple_products.csv')
print("csv read success")
# Connect to the MySQL database
host = "MYSQL8001.site4now.net"
database = "db_aaacae_dse"
user = "aaacae_dse"
password = ""

# Establish the connection
cnx = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)
cursor = cnx.cursor()
print("con success")
# Create the table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS reviews (
        review_id INT AUTO_INCREMENT PRIMARY KEY,
        rating FLOAT,
        text TEXT,
        parent_asin VARCHAR(20),
        user_id VARCHAR(50),
        timestamp BIGINT,
        is_predicted BOOLEAN,
        is_positive BOOLEAN,
        pos_score FLOAT,
        neu_score FLOAT,
        neg_score FLOAT,
        keywords TEXT
    )
""")
print("query success")
# Insert data into the MySQL table
for _, row in df.iterrows():
    rating = row['rating']
    text = row['text']
    parent_asin = row['parent_asin']
    user_id = row['user_id']
    timestamp = row['timestamp']

    query = """
        INSERT INTO reviews (rating, text, parent_asin, user_id, timestamp, is_predicted, is_positive, pos_score, neu_score, neg_score, keywords)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (rating, text, parent_asin, user_id, timestamp, None, None, None, None, None, None)

    cursor.execute(query, values)

# Commit the transaction
cnx.commit()

# Close the cursor and connection
cursor.close()
cnx.close()

csv read success
con success
query success

In [5]:
import pandas as pd
csv_file = '/content/filtered_meta.csv'
df = pd.read_csv(csv_file)
df.iloc[0]

main_category                              Cell Phones & Accessories
title              Apple iPhone 12 Pro, 256GB, Gold - Unlocked (R...
average_rating                                                   4.2
rating_number                                                     47
features           ['Unlocked and compatible with any carrier of ...
description        ['Apple iPhone 12 Pro, 256GB, Gold - Unlocked ...
price                                                         678.39
images             [{'thumb': 'https://m.media-amazon.com/images/...
videos             [{'title': 'Iphone 12 pro Max...why? Watch bef...
store                                                 Amazon Renewed
categories              ['Cell Phones & Accessories', 'Cell Phones']
details            {'Product Dimensions': '0.28 x 2.8 x 5.75 inch...
parent_asin                                               B09JFJ1Q5C
bought_together                                                  NaN
Name: 0, dtype: object

In [2]:
print(json.loads(df.iloc[0]['images'].replace("'", '"'))[1]['large'])

https://m.media-amazon.com/images/I/31dNlnUnu7L._AC_.jpg

In [26]:
df.iloc[0]["features"]

'[\'Unlocked and compatible with any carrier of choice on GSM and CDMA networks (e.g. AT&T, T-Mobile, Sprint, Verizon, US Cellular, Cricket, Metro, Tracfone, Mint Mobile, etc.).\', \'Tested for battery health and guaranteed to come with a battery that exceeds 90% of original capacity.\', "Inspected and guaranteed to have minimal cosmetic damage, which is not noticeable when the device is held at arm\'s length. Successfully passed a full diagnostic test which ensures like-new functionality and removal of any prior-user personal information.", \'Includes a brand new, generic charging cable that is certified Mfi (Made for iPhone) and a brand new, generic wall plug that is UL certified for performance and safety. Also includes a SIM tray removal tool but does not come with headphones or a SIM card.\', \'Backed by a one-year satisfaction guarantee.\']'

In [28]:
df.iloc[0]["categories"]

"['Cell Phones & Accessories', 'Cell Phones']"

In [29]:
df.iloc[0]["categories"][1:len(df.iloc[0]["categories"])-1]

"'Cell Phones & Accessories', 'Cell Phones'"

In [ ]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
filtered_meta = pd.read_csv('filtered_meta.csv')

# Filter out records with parent_asin equal to 'B07759SBP7'
filtered_df = filtered_meta[filtered_meta['parent_asin'] == 'B07759SBP7']

# Display the first few records of the 'images' column
print(filtered_df["images"].head())

# Write the values of the 'images' column to a text file
with open('images_column.txt', 'w') as f:
    for image in filtered_df['images']:
        f.write(f"{image}\n")

25    [{'thumb': 'https://m.media-amazon.com/images/...
Name: images, dtype: object

In [ ]:
import pandas as pd

# Read the CSV file into a pandas DataFrame
filtered_meta = pd.read_csv('filtered_meta.csv')

# Find the count of null values in the 'images' column
null_count_images = filtered_meta['features'].isnull().sum()

print(f"Count of null values in the 'images' column: {null_count_images}")

Count of null values in the 'images' column: 0

In [16]:
import pandas as pd
import json
csv_file = '/content/filtered_meta.csv'
df = pd.read_csv(csv_file)
for index, row in df.iterrows():
  try:
    print(json.loads(row['images'].replace("'", '"'))[0]['large']," ", row["parent_asin"])
  except Exception as e:
    print(e," ", row["parent_asin"])

https://m.media-amazon.com/images/I/3151WyO-4BL._AC_.jpg   B09JFJ1Q5C
Expecting value: line 1 column 178 (char 177)   B08TDT5ZJD
Expecting value: line 1 column 178 (char 177)   B082MTXNT1
https://m.media-amazon.com/images/I/41AMINJhsJL._AC_.jpg   B00NPY1G56
https://m.media-amazon.com/images/I/311QJu8o9pL._AC_.jpg   B0B5FLX9WS
https://m.media-amazon.com/images/I/410Z5VyKpQL._AC_.jpg   B079H6CWYH
https://m.media-amazon.com/images/I/31WW+Zc1lHL._AC_.jpg   B09JFC967X
https://m.media-amazon.com/images/I/31dS8x2a2eL._AC_.jpg   B09JFP3R1D
https://m.media-amazon.com/images/I/31PHrwjCbRL._AC_.jpg   B09JF5ZHQS
https://m.media-amazon.com/images/I/41XT7AOBxrL._AC_.jpg   B085SYG5ZX
https://m.media-amazon.com/images/I/41MMGCLHslL._AC_.jpg   B075NVNBCW
Expecting value: line 1 column 178 (char 177)   B00NQHZ2RU
https://m.media-amazon.com/images/I/31FBVtATqHL._AC_.jpg   B074K4HVGB
Expecting value: line 1 column 178 (char 177)   B08TDV7WF7
https://m.media-amazon.com/images/I/41cVv-L8yOL._AC_.jpg   B00NQGOZCY
https://m.media-amazon.com/images/I/31seJiEMoXL._AC_.jpg   B09JFN8K6T
Expecting value: line 1 column 178 (char 177)   B07B9LFNM9
https://m.media-amazon.com/images/I/31WW+Zc1lHL._AC_.jpg   B09JFMBNPH
https://m.media-amazon.com/images/I/41AjIStaq3L._AC_.jpg   B081TJLF3H
https://m.media-amazon.com/images/I/41CZVYqs+hL._AC_.jpg   B078P38R8L
https://m.media-amazon.com/images/I/4157P8GEsoL._AC_.jpg   B07B9LWLR7
Expecting value: line 1 column 175 (char 174)   B00NGOCER4
https://m.media-amazon.com/images/I/31zswA-LKDL._AC_.jpg   B09JFS4P67
https://m.media-amazon.com/images/I/31aOgohXPtL._AC_.jpg   B071HWTHBJ
https://m.media-amazon.com/images/I/41B2n77mkAL._AC_.jpg   B07JCXLZPZ
Expecting value: line 1 column 666 (char 665)   B07759SBP7
Expecting value: line 1 column 178 (char 177)   B08TDTFD8B
Expecting value: line 1 column 178 (char 177)   B00NI0BPTE
https://m.media-amazon.com/images/I/41vzLcN+zvL._AC_.jpg   B004YRBM1Q
https://m.media-amazon.com/images/I/31vv0vfaNqL._AC_.jpg   B09JF3PVM2
https://m.media-amazon.com/images/I/31seJiEMoXL._AC_.jpg   B09JFC8JGG
https://m.media-amazon.com/images/I/41qgEtK8sEL._AC_.jpg   B081MCRQG3
Expecting value: line 1 column 422 (char 421)   B07CQNF813
https://m.media-amazon.com/images/I/517xB8vSCML._AC_.jpg   B07234GKN5
https://m.media-amazon.com/images/I/41vzLcN+zvL._AC_.jpg   B005XYGFIY
https://m.media-amazon.com/images/I/51p2G1+zreL._AC_.jpg   B072KFCKYH
Expecting value: line 1 column 178 (char 177)   B08TFHC17C
https://m.media-amazon.com/images/I/41MzJyjyrzL._AC_.jpg   B085PXWRCN
https://m.media-amazon.com/images/I/41sh7abPtEL._AC_.jpg   B085T12N5L
https://m.media-amazon.com/images/I/517wmQfy0aL._AC_.jpg   B07GXZW3HX
https://m.media-amazon.com/images/I/41O7zxjqJ7L._AC_.jpg   B082MRWDKN
https://m.media-amazon.com/images/I/41TFh8QjaTL._AC_.jpg   B09JFNJ82P
https://m.media-amazon.com/images/I/41rYq2aMJ0L._AC_.jpg   B01MT5GDD6
https://m.media-amazon.com/images/I/518F44bwjOL._AC_.jpg   B074F4HMSY
https://m.media-amazon.com/images/I/517idDiRJRL._AC_.jpg   B07JQSLZXZ
https://m.media-amazon.com/images/I/41ssJuJSoDL._AC_.jpg   B0776JGWP9

**Adding products info**

In [21]:
import pandas as pd
import mysql.connector
import json

# MySQL connection configuration
host = "MYSQL8001.site4now.net"
database = "db_aaacae_dse"
user = "aaacae_dse"
password = ""

# CSV file path
csv_file = '/content/filtered_meta.csv'

try:
    conn = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    cursor = conn.cursor()

    # Create table if not exists
    create_table_query = """
    CREATE TABLE IF NOT EXISTS products (
        parent_asin VARCHAR(255) PRIMARY KEY,
        main_category VARCHAR(255),
        title TEXT,
        description TEXT,
        features TEXT,
        image VARCHAR(255),
        categories TEXT,
        store VARCHAR(255),
        details TEXT,
        negative_keywords TEXT,
        improvements TEXT
    )
    """
    cursor.execute(create_table_query)

    # Read CSV file into pandas DataFrame
    df = pd.read_csv(csv_file)


    for index, row in df.iterrows():


        desc = None if len(row["description"]) < 3 else row["description"][2:len(row["description"])-2]
        feat = None if len(row["features"]) < 3 else row["features"][1:len(row["features"])-1]


        try:
            large_image_url = json.loads(row['images'].replace("'", '"'))[0]['large']
        except Exception as e:
            large_image_url = ""

        row = row.where(pd.notnull(row), None)

        insert_query = """
        INSERT INTO products (parent_asin, main_category, title, description, features, image, categories, store, details)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        data = (
            row['parent_asin'],
            row['main_category'],
            row['title'],
            desc,
            feat,
            large_image_url,
            row['categories'],
            row['store'],
            row['details']
        )
        cursor.execute(insert_query, data)

    # Commit changes and close connection
    conn.commit()
    print("Data inserted successfully into MySQL table")

except mysql.connector.Error as error:
    print(f"Error inserting data into MySQL table: {error}")

finally:
    if 'conn' in locals() and conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection is closed")

Data inserted successfully into MySQL table
MySQL connection is closed